<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Async Inn - Home</title>
    <link href="~/reset.css" rel="stylesheet" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <nav>
        <ul>
            <li>
                <a asp-controller="Hotel" asp-action="Index">Hotel Locations</a>
                <a asp-controller="Inventory" asp-action="Index">Rooms Inventory</a>
                <a asp-controller="RoomPlan" asp-action="Index">Room Plans</a>
                <a asp-controller="RoomConfig" asp-action="Index">Amenity Configurations</a>
                <a asp-controller="Amenity" asp-action="Index">Amenities</a>
                @*<a href="/Hotel/Index">Hotel Locations</a>
                <a href="/Inventory/Index">Rooms Inventory</a>
                <a href="/RoomPlan/Index">Room Plans</a>
                <a href="/RoomConfig/Index">Amenity Configurations</a>
                <a href="/Amenity/Index">Amenities</a>*@
            </li>
        </ul>
    </nav>
    <div id="logo">
        <img id="logoimg" src="https://www.freeiconspng.com/uploads/circle-png-7.png" width="350" alt="circle effects png">
        <div id="logotext">
            <h1>ASYNC INN</h1>
            <p>Ready when you are</p>
        </div>
    </div>
   
</body>
</html>
